---
import groq from 'groq'
import { fetchPostBySlug } from '../../api/post-by-slug'
import Divider from '../../components/divider.svelte'
import PortableText from '../../components/PortableText/index.svelte'
import { sanityClient } from '../../lib/sanity'
import { format } from 'date-fns'
import Layout from '../../layouts/Layout.astro'

export async function getStaticPaths() {
	const paths = await sanityClient.fetch<{ slug: string }[]>(
		groq`*[_type == "posts" && !(_id in path("drafts.**"))] {
			"slug": slug.current,
		}`
	)

	return paths.map((path) => ({
		params: { slug: path.slug }
	}))
}

const { slug } = Astro.params
const post = await fetchPostBySlug(slug as string)
const publishedDate = format(new Date(post._createdAt), 'LLLL d Y')
---

<Layout title={post.title}>
	<article class="m-auto flex w-full max-w-2xl flex-col">
		<h1 class="mb-4 text-4xl font-bold text-foreground-accent">{post.title}</h1>
		<Divider />
		<div class="mt-2 mb-16 flex flex-col justify-between sm:flex-row">
			<p>Anh-Kha Vo &bull; {publishedDate}</p>
			<p>{post.estimatedReadingTime} min read</p>
		</div>
		<PortableText blocks={post.content} client:load />
	</article>
</Layout>
