---
import Divider from '../components/divider.svelte'
import Layout from './Layout.astro'
import { format } from 'date-fns'
import clsx from 'clsx'

interface Props {
	frontmatter: {
		title: string
		pubDate: string
		description: string
		tags: string[]
		minutesRead: number
	}
}

const { frontmatter } = Astro.props
const publishedDate = format(new Date(frontmatter.pubDate), 'LLLL d Y')
---

<Layout title={frontmatter.title} description={`${frontmatter.description}. ${frontmatter.tags.join(",")}`}>
	<article class="flex w-full max-w-2xl flex-col">
		<h1 class="mb-4 text-4xl font-bold dark:text-brand-2 text-brand-10">{frontmatter.title}</h1>
		<Divider />
		<div class="mt-2 mb-8 flex flex-col justify-between sm:flex-row">
			<p>Anh-Kha Vo &bull; {publishedDate}</p>
			<p>{frontmatter.minutesRead}</p>
		</div>
		<div
			class={clsx(
				'prose dark:prose-invert',
				'hover:prose-a:text-brand-5 prose-a:transition-colors prose-a:text-primary',
				'prose-h2:text-brown-12 prose-headings:text-sand-12'
			)}
		>
			<slot />
		</div>
	</article>
</Layout>
