---
import Layout from '../layouts/Layout.astro'
import { fetchFrontpageData } from '../api/frontpage'
import PortableText from '../components/PortableText/index.svelte'
import Experiences from '../components/experiences.svelte'
import ProjectCard from '../components/ProjectCard.astro'
import Section from '../components/Section.astro'
import PreviewPosts from '../components/PreviewPosts.astro'

const { introduction, experiences, projects } = await fetchFrontpageData()
const allPosts = await Astro.glob('./blog/*.mdx') // returns an array of posts that live at ./src/pages/post/*.md
const posts = allPosts
	.filter((post) => !post.frontmatter.draft)
	.sort((a, b) => b.frontmatter.date - a.frontmatter.date)
	.slice(0, 3)
---

<Layout title="Kharann • Homepage" description="Anhkha's developer portfolio">
	<Section>
		<h1 class="mb-2 text-4xl font-bold">
			Hi, my name is
			<span class="font-hack font-bold text-primary">Anhkha 👋</span>
		</h1>
		<byline class="text-lg">{introduction.role}</byline>
	</Section>
	<Section name="About me.">
		<PortableText blocks={introduction.about_me} />
	</Section>
	<Section name="Latest posts." className="pb-6">
		<PreviewPosts posts={posts} />
	</Section>
	<Section name="Experiences.">
		<Experiences experiences={experiences} client:load />
	</Section>
	<Section name="Projects.">
		I've worked on multiple projects, from commercial ones to small hobby projects.
		<br />
		During my free time, I love working on open-source projects. Here are some of my open-source highlights.
		<div class="grid sm:grid-cols-2 mt-8 gap-4">
			{projects.map((project) => <ProjectCard project={project} />)}
		</div>
	</Section>
	<Section name="Contact.">
		<div class="flex flex-col">
			<p>I always enjoy a good chat so get in contact if you wanna chat.</p>
			<a
				href="mailto:hey@akvo.no"
				class="py-3 px-6 bg-brown-9 text-brown-12 font-bold w-[100px] text-center self-center mt-6 rounded hover:bg-brown-10 transition-colors"
				>Say hi!</a
			>
		</div>
	</Section>
</Layout>
